@model Transactions
@{
    ViewData["Title"] = "Transactions";
}


<h1>Register Transaction</h1>
<div asp-validation-summary=ModelOnly class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Total" class="form-label"></label>
        <input type="number" asp-for="Total" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
